body {
    background-color: lightblue;
    font-size: large;
    text-align: center;
    border: 3em;
}

h1, h2, ol{
    font-family: 'Courier New', Courier, monospace;
}

div{
    display:flex;
    justify-content: center;
}

img{
    max-width: 30%;
    min-width: 600px;
    height: auto;
}